/* header and its elements and properties */

.room-body .connected-ones{
    display:flex;
    flex-flow: column wrap;
    height:15%;
    background-color: rgb(16, 161, 113);
    margin-top:70px;
    color:white;
    font-family: dreamy;
    font-weight:100;
    position:fixed;
    left:0;
    right:0;
    top:0;
    align-items: center;
    justify-content: center;
}

/* the 'is typing functionality' */
.typing{
    display:none;
    flex-flow: column wrap;
    color:white;
    font-family: dreamy;
    font-style: italic;
    justify-content: center;
}

/* body container and items styling */
.body-items{
    display: flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items: center;
    height:600px;
    margin:auto;
    margin-top:15%;
    padding: auto;
}

/* the chat container itself. */
.body-items> .chat-cont{
    display: flex;
    flex-flow: column nowrap;
    overflow-y:scroll;
    box-shadow: 2px 2px 15px 10px rgb(39, 117, 117);
    width:50%;
    height:70%;
    border-radius:20px;
    background-color: white;
    margin:auto;
    padding-left:10px;
    font-family: dreamy;
    font-size:20px;
    flex:1 1 0;
}

/* the username in the message(chat container)box, gotten from the frontend */
.u-name{
    background-color: rgb(16, 161, 113);
    border:2px solid white;
    border-radius:10px;
    color:rgb(21, 31, 31);
    padding:5px;
}

/* the parent to the chat buttons and text area fields */
.body-items > div.input-cont{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    margin:auto;
    font-family: dreamy;
    font-size:10px;
    width:35%;
    height:5%;
    background-color: rgb(17, 172, 120);
    border-radius:45px;
    flex:1 1 0;
}

/* the container holding both the image and the messages in the chat room */
.chat-cont > .img-msg{
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    font-family: dreamy;
    background-color: rgb(39, 117, 117);
    color:white;
    border:1px solid rgb(17, 172, 120);
    border-radius: 15px;
    max-width: 50%;
}

/* the picture attached to the chat messages, itself. */
.img-msg #chat-pic{
    width:27px;
    height:27px;
    border-radius:50%;
}

/* the text area where messages are typed */
.body-items .msg-box{
    border: 2px solid rgb(39, 117, 117);
    border-radius: 45px;
    width:200px;
    height:30px;
    padding:20px;
    font-family: dreamy;
    color:rgb(39, 117, 117);
}

/* the container for the button and its icon */
.input-cont> .btn-icon{
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(39, 117, 117);
    border-radius:45px;
    justify-content: center;
    align-items: center;
    height:15%;
    width:20%;
    color:white;
    font-family: dreamy;
    border:solid 4px white;
    cursor:pointer;
    padding:5px;
}

/* footer */
.footer{
    position: relative;
    bottom:0;
    right:0;
    left:0;
    width: 100vw;
    height:30vh;
    margin-top:18%;
}

@media screen and (max-width:715px) and (max-width:768px){ 

    .room-body{
        width:100vw;
        margin:auto;
        margin-bottom:15%
    }

    .room-body .connected-ones{
        height:18%;
        width: 100%;
    }
    .room-body .body-items{
        margin-top:30%;
    }
    .body-items .chat-cont{
        width:80%;
        height: 17em;
        margin:auto;
        margin-top: 5em;
    }
    .body-items .input-cont{
        width:200px;
        height:100px;
        margin-bottom:15%;
        padding:none;
    }
    .input-cont span#btn-icon{
        width:15%;
        margin:auto;
        align-self: center;
        margin-left:32px;
    }
    .input-cont .msg-box{
        width:20%;
    }

    /* .chat-cont>#response{
        width:100%;
    } */
    .footer{
        margin-top: 5%;
        margin-bottom:0px;
        bottom:0;
        width:100%;
        height:40vh;
        padding:0px;
    }
}