.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.welcome-div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    width:28%;
    border-radius:20px;
    text-align: center;
    margin-top: 5%;
    /* margin-left: 10%; */
}
.flash{
    margin:auto;
}

.login-container{
    display:flex;
    flex-flow: column wrap;
    place-content: center center;
    padding:10px;
    margin:auto;
    margin-top: 70px;
    width:100%;
}
.login-container span >h1{
    color:rgb(39, 117, 117);
    font-family: roboto;
    font-weight: 500;
    font-size: larger;
    align-self: center;
}
.welcome-div #break{
    margin-left:10px;
    margin-top:1px;
    height:2px;
    width:90%;
    background-color:rgb(25, 199, 141);
}
.input-cont{
    background-color:rgb(39, 117, 117);
    width:50%;
    height:50%;
    border:2px rgb(25, 199, 141) dotted;
    border-radius: 10px;
    display: flex;
    flex-flow: wrap column;
    color:white;
    padding:30px;
    align-items:center;
    margin:auto;
    margin-top:30px;
    align-self:center;
}

.input-cont .form{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items:center;
    margin:auto;
    font-family: roboto;
    font-weight: 100;
    align-self: center;
}

.form .user-details{
    margin-right:auto;
    display: grid;
    grid-template-columns: 1fr 100%;
    gap:8px;
}
.form .user-details> input{
    border:1px solid;
    border-radius: 10px;
    width:auto;
    height:40px;
    margin:10px;
}
.form .btn-div{
    display: flex;
    flex-direction: row;
    margin:auto;
    margin-top:20px;
    margin-left:auto;
}
.form .btn-div input{
    width:80px;
    padding:7px;
    margin:5px;
    border:2px solid white;
    border-radius:10px;
    background-color: rgb(25, 199, 141);
    color: white;
    font-family: roboto;
    font-weight: 600;
    font-size:20px;
    transition:all 1s;
}

.form .user-details> label{
    margin-top:20px;
    font-family: roboto;
    font-size: 20px;
}
.form .btn-div input:hover{
    background-color: rgb(39, 117, 117);
    border-color:rgb(25, 199, 141) ;
}

/* for sign up page */

.signup-cont{
    height:80vh;
    width: 800px;
}

/* media queries */

@media only screen and (max-width:715px){
    *{
        margin:0px;
    }

    .header {
       flex-wrap: nowrap;
    }
    /* parent container */
    .login-container{
        margin:auto;
        margin-top:22%;
        width:80%;
    }

    /* parent to the form that wraps all input elements */
    .input-cont{
        width:100%;
    }
    /* container holding the welcome message and the horizontal element */
   .welcome-div{
       margin-left: 40%;
       max-width: 40%;
   }
    #break{
        width:58%;
    }
    /* parent from element */
    .input-cont form{
        margin:auto;
    }

    /* children within the form element */
    .guide{
        margin-left:13%;
        width:100%;
    }
    .user-details, .btn-div{
        width:70%
    }
    
}