<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}  {%endblock%}</title>
    <link rel="stylesheet" href="../../static/frontend/css/base_room.css" type='text/css'>
    <link rel="stylesheet" href="../../static/frontend/css/base.css" type='text/css'>
    <link rel="icon" href="../../static/frontend/img/ZEDTEK.png" type='img/png'>
    <script src='../../static/frontend/src/room_scripts.js'></script>
    <script src="https://kit.fontawesome.com/c676ebde69.js" crossorigin="anonymous"></script>    
    <script src="../../static/frontend/src/base.js"></script>
</head>
<body class="room-body">
    <header class="header">
        <a href=''><img src="../../static/frontend/img/ZEDTEK.png" alt="logo" class='logo' style='height:40px; width:60px; border-radius:20px; background-color: white;'></a>
        <nav class='nav'>
            <ul class='nav-itemz'>
                <li><a href="/logout/" class='logout'><i class="fas fa-sign-out-alt" style="background-color: rgb(39, 117, 117);height:15%;border-radius: 10px;"></i>Logout</a></li>
                <li><a href="/chat/trend/"><i class="fas fa-cloud-sun-rain" style="background-color: rgb(39, 117, 117);height:15%;border-radius: 10px;"></i>  Trendings</a></li>
                <li><a href="/chat/rooms"><i class="fas fa-person-booth" style="background-color: rgb(39, 117, 117);height:15%;border-radius: 10px;"></i>  Rooms</a></li>
                <li><a href="/chat/profile"><i class="fas fa-user-circle" style="background-color: rgb(39, 117, 117);height:15%;border-radius: 10px;"></i>{{user}}</a></li>
            </ul>
        </nav>
        <!-- for toggling -->
        <div class='mobile-toggle' onclick='toggle()'>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <!-- for mobile -->
    
        <div class='m-nav'>
            <ul class='nav-items'>
                <li><a href="/logout/" class='logout'><i class="fas fa-sign-out-alt" style="background-color: rgb(39, 117, 117);height:15%;border-radius: 10px;"></i>Logout</a></li>
                <li><a href="/chat/trend/"><i class="fas fa-cloud-sun-rain" style="background-color: rgb(39, 117, 117);height:15%;border-radius: 10px;"></i>  Trendings</a></li>
                <li><a href="/chat/rooms/"><i class="fas fa-person-booth" style="background-color: rgb(39, 117, 117);height:15%;border-radius: 10px;"></i>  Rooms</a></li>
                <li><a href="/chat/profile"><i class="fas fa-user-circle" style="background-color: rgb(39, 117, 117);height:15%;border-radius: 10px;"></i>{{user}}</a></li>
            </ul>
        </div>
    </header>
    <!-- a div for those connected to a room -->
    <div class="connected-ones">
        <h3 id="people">People connected</h3>
        <hr style='width:20em;height:2px; background-color:rgb(39, 117, 117); border:none;margin-top:-10px;'>
        <div class="list">
            <!-- Lorem ipsum, dolor sit amet consectetur adipisicing elit.  -->
        </div>
        <div class="typing">
            <h5 id='typing'>Someone is typing...</h5>
        </div>
    </div>
    <!-- all chat messages and funtionalities below. -->
    <div class="body-items">
        <div class="chat-cont">
            {%block messages%}
            <em class="prev-msg" style="color:rgb(133, 130, 127); font-weight: lighter;font-size:10px; margin:auto;margin-bottom:opx;">previous messages</em>
            {%for message in msgs%}
            {%if message.room_messages != ''%}
            <div class="img-msg">
                <img src="{{message.sender.userprofile.image.url}}" id="chat-pic" alt="">
                <p id="response" onopen=""><b class="u-name">{{message.sender}}:</b> {{message.room_messages}}</p>
            </div>
            {%endif%}
            {%endfor%}
            {%endblock%}
        </div><br>
        <div class="input-cont">
            <textarea class="msg-box" name='msg-box' value='' placeholder="type your messages here..." rows=10 cols="10" oninput="checkTyping()"></textarea>
            <div class="btn-icon" onclick='sendText()' onkeyup="keyEvent()">
                <i class="fas fa-paper-plane"></i><h3 id="send-txt">Send</h3>
            </div>
        </div>
    </div>
</body>
<footer class="footer">
    <div class="foot-container">
        <h1 id="by">Designed and built by ZECHARIAH, a.k.a <span id="alias"><a href="https://github.com/zedtek-me"> ZEDTEK.</a></span> </h1>
        <h1 id="copywright">Copywright <i class="far fa-copyright"></i> 2022</h1>
    </div>
</footer>
</html>