{%extends 'base.html'%}

{%block header%}
<header class="header">
    <img src="../../static/frontend/img/ZEDTEK.png" alt="logo" class="logo" style='height:40px; width:60px; border-radius:20px; background-color: white;'>
    <h1 class="chattie">CHATTIE</h1>
    {%block signin%}<nav class="recover-pass"><a href='http://localhost:8000/chat' id="sign-in" style='background-color: rgb(39, 117, 117);border:2px solid white; border-radius: 20px;padding:8px;'>sign-In</a></nav>{%endblock%}
    <nav class="forgot-pass"><a href="http://localhost:8000/chat/recovery" id="forgot-pass" style='background-color: rgb(39, 117, 117);border:2px solid white; border-radius: 20px;padding:8px;'>{%block recovery%}Forgot Pasword{%endblock%}</a></nav>
</header>
{%endblock%}