{%extends 'base.html'%}
{%block title%}
Profile
{%endblock%}

{%block body%}
<div class="profile">
    <div class="prof-hero">
        {%if message%}
            {% for msg in message%}
            <div {%if msg.tags%} class="{{msg.tags}}"{%endif%} style= 'margin-bottom:10px;'>
               {{ msg }}
            </div>
            {%endfor%}
        {%endif%}
        <div class="user-img">
            {%if user.userprofile.image%}
            <img src='{{user.userprofile.image.url}}' alt="Profile Photo" class="prof-img" style='width:40%; height:15%;border:2px solid rgb(39, 117, 117); border-radius:50%'>
            {%else%}
            <img src=" ../../../Media/default.jpg" alt="Profile Photo" class="prof-img" style='width:50%; height:50%;border:2px solid rgb(39, 117, 117); border-radius:50%'>
            {%endif%}
        </div>
        <div class="username">
            <h1 id="user-name">{{user}}</h1>
        </div>
        <ul class="quick-links">
            <li id="links"><a href="/settings" id="settings"><i class="fas fa-cogs"></i> Settings</a> | </li>
            <li id="links"><a href="/uploaded" id="photos"><i class="fas fa-images"></i> photos</a> | </li>
        </ul>
        <hr id="hero-separ">
    </div>
    <!-- Now Timelines and others -->
    <div class="make-post">
        <div class="post-items">
            <form action="" method='post' class="post-form flex" enctype="multipart/form-data">
                {%csrf_token%}
                <textarea class="post-widget" name='post-widget' value='' placeholder="Say Something; anything...?" rows="50" cols="20"></textarea> 
                <input type="file" accept="image/*" class="upload" name='upload' style="margin:auto; display:none">
                <button class="hidden-btn" type="submit" name="submit" style="display:none;"></button>
            </form>
            <div class="post-btn-cont flex">
                <input type="submit" id="post-btn" name="Post" value="Post" onclick="postSubmit()">
                <input type='submit'name="add-image" value="Add image" class='add-image' onclick="getFile()">
            </div>
        </div>
       
    </div>
    <em id="instruction">posts you make will appear here on your timeline, and on <a href='/trend/' id='trends-quic-link'>Trendings...</a></em>
    <!-- now the posted items -->
    <div class="posts">
        {%for item in post%}
            <div class="post-cont">
                <!-- container for editing posts -->
                <div class="edit-post-cont">
                    <i class="fa-solid fa-angle-down post-tog"></i>
                    <div class="edits">
                        <p id="update-post">Update this post</p>
                        <p id="delete-quest">Delete this post?</p>
                    </div>
                    <!-- dialogue box imitator, to confirm intention for deletion -->
                    <div class="confirm-del">
                        <p id="confirm-quest">Are you sure you want to delete this post?</p>
                        <div class="choice">
                            <input type="button" value="Yes" name="yesBtn">
                            <input type="button" value="No" name="noBtn">
                        </div>
                    </div>
                    <!-- post deletion form -->
                    <form action="{%url 'delete post'%}" method="get" class="edit-form">
                        <input type="hidden" name="post-id" value="{{item.id}}">
                        <input type="submit" name="delete" value="{{item.content}}" id="removePost">
                    </form>
                </div>
                {%if item.image%}
                <p class="postDate">Posted on {{item.date}}, by {{item.owner}}(me)</p>
                <img src="{{item.image.url}}" alt="posted-item" class="posted-img">
                <div class="writeup">
                    <p class="content">{{item.content}}</p>
                </div>
                {%else%}
                <p class="postDate">Posted on {{item.date}}, by {{item.owner}}(me)</p>
                <div class="writeup">
                    <p class="content">{{item.content}}</p>
                </div>
                {%endif%}
            </div>
        {%endfor%}
    </div>
</div>
<script>
    // preview the uploaded file (image file)
    // const displayImage = (event)=>{
    //     var picture= event.target.files[0]
    //     let postContent= document.querySelector('.post-widget').value
    //     profileImage.src= URL.createObjectURL(picture)
        
    // }

// display a file element when an image is added to a post.
const file= ()=>{
    file_el= document.getElementsByClassName('upload')[0]
    file_el.addEventListener('change',
    ()=> {file_el.style.display='flex';
    file_el.style.margin='auto';
    file_el.style.justifyContent='center'})
    }

    file()
</script>
{%endblock%}
